.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.App * {
  margin: 10px 0;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

.post-border {
  border: solid 1px #aeaeae;
  margin-right: 10px;
  cursor: pointer;
}

.post-border:hover {
  border: solid 1px #0079d3;
}

.top-row {
  display: flex;
  align-items: center;
  margin: 0;
}

.bottom {
  display: flex;
  margin: 0;
  margin-left: 10px;
}

.top-row img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 30px;
}

.top-row span {
  color: #000000;
  font-size: 18px;
  text-align: left;
}

.comment {
  color: #000000;
  font-size: 16px;
}

.expand-pin {
  width: 15px;
  height: 10px;
  border-radius: 50%;
  background-color: #0079d3;
  cursor: pointer;
  margin-right: 10px;
}

.post-content {
  width: 100%;
  display: flex;
}
